{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
	{% if error %}
		<div {{ vue_component('Alert', {error: error.messageKey|trans(error.messageData, 'security')} ) }}></div>
	{% endif %}

	<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
		<div>
			<img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow"/>
			<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
				Sign in to your account
			</h2>
			<p class="mt-2 text-center text-sm text-gray-600">
				Or
				{{ " " }}
				<a href="{{ path('app_register') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
					register for free
				</a>
			</p>
		</div>

		<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
			<form class="space-y-6" method="post">
				<div>
					<label for="inputEmail" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
					<div class="mt-2">
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="block w-full rounded-md indent-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" autocomplete="email" required autofocus>
					</div>
				</div>

				<div>
					<div class="flex items-center justify-between">
						<label for="inputPassword" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
						<div class="text-sm">
							<a href="{{ path('app_forgot_password_request') }}" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
						</div>
					</div>
					<div class="mt-2">
						<input type="password" name="password" id="inputPassword" class="block w-full rounded-md indent-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" autocomplete="current-password" required>
					</div>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div>
					<button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
				</div>
			</form>

		</div>
	</div>
{% endblock %}
